.infos {
    /* transition: all 1s; */
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 23px;
}

.bold {
    font-weight: 600;
}

@media (min-width: 320px) and (max-width:767px) {
    .infos {
        display: none;
    }
}