.testt {
    display: block;
    justify-content: center;
    width: 50%;
    height: 20vh;
}

.testx {
    height: 20vh;
    width: 100%;
}

.close {
    cursor: pointer;
}

.dnone {
    display: none;
}

.bookshelf {
    background-image: url('../../images/bookshelf.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.inner-movie {
    display: flex;
    /* height: 400px; */
    /* order: -1; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* text-align: start; */
    /* margin: auto; */
    color: black;
    margin-top: 40px;
    /* margin: 20px; */
    /* width: 70%; */
    /* justify-content: center; */
    align-items: center;
    text-align: justify;


}

.inner-content {
    /* text-align: center; */
    /* display: flex;
    justify-content: center; */
    margin: 10px;
    width: 70%;
}

.inner-movie img {
    /* width: 100%; */
    border-radius: 0px 5px 5px 0px;

}

.tqtfav {
    display: flex;
    flex-wrap: wrap;

}

.img-img {
    height: 400px;
    width: 200px;
    margin-bottom: 40px;
    /* width: 100%; */
    filter: drop-shadow(15px 10px 4px #0000003b);
    cursor: pointer;
    /* opacity: 0.5; */

    /* height: 20px; */
}





.cancel {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.cancel span {
    cursor: pointer;
}

.infos {
    /* height: 200px; */
}

.inner-book {
    display: flex;
    /* align-items: center; */
    /* margin: 10px; */
}

.greenBook {
    margin: 10px;
    text-align: end;
}

.book {
    width: 30px;
    /* height: 200vh; */
    margin: 0px 20px;
    cursor: pointer;
}

.title-view {
    display: flex;
    /* margin: auto; */
    width: 100%;
    align-items: center;
}

.read {
    background-color: green;
}

.check {
    position: absolute;
    cursor: pointer;
    /* opacity: 0.5; */
}