.testt {
    display: block;
    justify-content: center;
    width: 50%;
    height: 20vh;
}

.dnone {
    display: none;
}

.inner-movie {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* text-align: start; */
    /* margin: auto; */
    color: black;
    margin-top: 40px;
    margin: 10px;
    /* width: 70%; */
    /* justify-content: center; */
    text-align: justify;

}

.inner-content {
    margin: 10px;
}

.inner-movie img {
    /* width: 100%; */
    border-radius: 5px;

}

.img-img {
    height: 400px;
    cursor: pointer;
    /* opacity: 0.5; */

    /* height: 20px; */
}



.infos {
    /* margin-left: 20px; */
}

.cancel {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.cancel span {
    cursor: pointer;
}

.infos {
    /* height: 200px; */
}

.inner-book {
    display: flex;
    align-items: center;
}

.book {
    width: 30px;
    /* height: 200vh; */
    margin: 0px 20px;
    cursor: pointer;
}

.title-view {
    display: flex;
    /* margin: auto; */
    width: 100%;
    align-items: center;
}

.read {
    background-color: green;
}

.check {
    position: absolute;
    cursor: pointer;
    /* opacity: 0.5; */
}