
.testt {
    display: block;
    justify-content: center;
    width: 50%;
    height: 20vh;
}

.dnone {
    display: none;
}

.inner-movie {
    display: flex;
    text-align: start;
    margin: auto;
    color: black;
    margin-top: 40px;
    width: 70%;
    justify-content: center;
    text-align: justify;

}

.inner-movie img {
    /* width: 100%; */
    border-radius: 5px;

}

.img-img {
    height: 400px;

    /* height: 20px; */
}

.infos {
    margin-left: 20px;
}

.cancel {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.cancel span {
    cursor: pointer;
}

.infos {
    /* height: 200px; */
}

.inner-book {
    display: flex;
    align-items: center;
}

.book {
    width: 30px;
    /* height: 200vh; */
    margin: 0px 20px;
    cursor: pointer;
}

.title-view {
    display: flex;
    align-items: center;
}

.read {
    background-color: green;
}