.card{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
}
.cardBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    
}
.details{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.btnFav{
    border: none;
    background-color: rgba(3,13,25,255);
    color: yellowgreen;
}
.title{
    overflow: hidden;
    /* overflow-x: hidden; */
}
.score{
    color: rgba(245,181,10,255);
}
.fav{
    height: 20px;
    background-color: rgba(3,13,25,255);
    cursor: pointer;
    position: absolute
}