.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
.favHeader{
    height: 50px;
    display: flex;
    align-self: center;
    background-color: rgba(35,58,80,255);
}
.search{
    width: 1010px;
    background-color: rgba(35,58,80,255);
    color: white;
    border: none;
    padding: 0 10px;
}
