.header {
    display: flex;
    flex-direction: row;
    height: 60px;
    position: sticky;
    top: 0 ;
    z-index: 5;
    transition: 800ms;
    margin: auto;
    box-shadow: 0 4px 2px -2px rgb(164, 164, 164);
    background-color: white;
    overflow: hidden;
    width: 100%;
}

.favHeader {
    margin-top: 11.5px;
    height: 35px;
    display: flex;
    background-color: white;
}

.homeHeader {
    margin-top: 11.5px;
    height: 35px;
    display: flex;
    background-color: white;
}

.whiteSpace {
    width: 50px;
    background-color: white;
    z-index: 2;
}

.whiteSpace2 {
    width: 130px;
    background-color: white;
    z-index: 2;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.iconNone {
    display: none;
}

.search {
    background-color: white;
    border-left: none;
    color: black;
    border: none;
    padding: 0 10px;
    font-size: 16.5px;
    width: 500px;
    outline: none;
}

.logo{
    height: 140px;
}

@media (min-width:320px) and (max-width:767px){
    .logo{
        display: none;
    }
}