.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 5;
    transition: 800ms;
    margin: auto;
    overflow: hidden;
    /* margin-bottom: 50px; */
    box-shadow: 0 4px 2px -2px rgb(164, 164, 164);
}

.favHeader {
    height: 50px;
    display: flex;
    align-self: center;
    background-color: white;
    border-left: 2px solid white;
}

.homeHeader {
    height: 50px;
    display: flex;
    align-self: center;
    background-color: white;
    border-left: 2px solid white;
}

.whiteSpace {
    width: 50px;
    background-color: white;
    z-index: 2;
}

.whiteSpace2 {
    width: 100px;
    background-color: white;
    z-index: 2;
}

.iconNone {
    display: none;
}

.search {
    width: 1500px;
    background-color: white;
    border-left: none;
    color: black;
    border: none;
    padding: 0 10px;
}

/* .header:hover{
    box-shadow: 0 0 5px rgb(176, 176, 174);
    transition: 800ms;
} */

